{% 
  set page_main_classes = [
  ]|merge(page_main_utility_classes ? page_main_utility_classes : []) 
%}

{%
  set header_classes = [
  'page__header',
  'container-fluid',

  ]
%}

<main{{ content_attributes.addClass(page_main_classes) }} id="main-content">
  {# Only show preheader if it exists. Note this will not prevent placeholders
  (such as primary tabs) from rendering twig debug output, but it will hide
  the region in production. #}
  {% set preheader_render = page.preheader|render %}
  {% if preheader_render|trim  %}
    <div class="page__preheader">
      <div class="container-fluid bg-faded-gray">
        <div class="container">
          {{ preheader_render }}
        </div>
      </div>
    </div>
  {% endif %}
  {% set header_render = page.header|render %}
  {% if header_render|trim %}
    <header{{ attributes.addClass(header_classes) }}">
      <div class="container">
        <div class="row align-items-center">
          <div class="col py-4">
            {{ header_render}}
          </div>
          {% set featured_image_render = page.featured_image|render %}
          {% if featured_image_render|trim %}
          <div class="col col-md-6">
            {{ featured_image_render }}
          </div>
          {% endif %}
        </div>
      </div>
    </header>
  {% endif %}
  <div class="container">
    <div class="row">
      {% if page.content %}
        <div class="page__content col">
            {% block page_inner_content %}
              {{ page.content }}
            {% endblock %}
        </div>
      {% endif %}
      {# Unlike the preheader, we can completely hide an empty sidebar because
      the region does not rely on placeholders. #}
      {% set sidebar_render = page.sidebar|render %}
      {% if sidebar_render|trim  %}
        <div class="page__sidebar col-md-12 col-lg-4">
          {{ sidebar_render }}
        </div>
      {% endif %}
    </div>
  </div>
</main>